body {  
  background-color: #0a0018;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button > i {
  pointer-events: none;
}

.container-todo {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  box-shadow: 0px 6px 0px 6px rgba(0, 0, 0, 0.418);
  margin: 40px 0;
}

.header {
  display: flex;  
  align-items: center;
  gap: 10px;
}

.header img {
  width: 50px;
  height: 50px;
  order: 1;
}

.header .titulo-principal {
  font-size: 3.5rem;
}

#adicionar-tarefa {
  display: flex;
}

.btn-adicionar {
  background-color: #1c033f;
  color: #fff;
  margin-left: 5px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -2px 0px 1px #0d011d;
  /* pointer-events: none; */
  cursor: pointer;
}

.btn-adicionar:hover {
  box-shadow: none;
  transform: translateY(2px);
}

#adicionar {
  flex: 2;
  height: 35px;
  padding-left: 10px;
  border: #0000003d solid 2px;
  border-radius: 5px;
  font-weight: 600;
  transition: .2s border ease-in-out;
}

#adicionar:focus {
  border: #00000069 solid 2px;
}

.line {
  width: 60%;
  height: 2px;
  background-color: #00000023;
  margin: 20px auto;
}

.title-tarefas {
  margin-bottom: 10px;
}

.tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 3px 0px 3px rgb(167, 167, 167);
  transition: .3s ease-out;
}

.tarefa h3 {
  flex: 1;
}

.tarefa .btn-tarefa {
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 0px -2px 0px 1px #0d011d;
  margin-left: 2px;
}

.tarefa .btn-tarefa i {
  pointer-events: none;
}

.tarefa .btn-tarefa.concluir {
  background-color: #025302;
  box-shadow: inset 0px -2px 0px 1px rgb(2, 54, 2);
}

.tarefa .btn-tarefa.remover {
  background-color: #6e0000;
  box-shadow: inset 0px -2px 0px 1px #570000;
}

.tarefa .btn-tarefa.remover    i {
  pointer-events: none;
}

.tarefa .btn-tarefa:hover {
  box-shadow: none;
  transform: translateY(2px);
}

#validacao {
  color: #ff0000;
}

.tarefa.done {
  background-color: #025302;
  box-shadow: 0px 3px 0px 3px #023f02;
}

.tarefa.done .btn-tarefa:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.tarefa.done .concluir {
  background-color: #acbe01;
  box-shadow: inset 0px -2px 0px 1px #748100;
}

.tarefa.done h3 {
  color: #fff;
}

#text-placeholder.hide {
  display: none;
}